<appSettings>

  <!-- Required Url of Catalog API -->
  <add key="ApiUrl" value="" />

  <!-- Optional token that will be sent to Catalog API -->
  <add key="CatalogApiToken" value="" />

  <!-- Optional tenant id that will be sent to Catalog API -->
  <add key="TenantId" value="" />

</appSettings>